---
layout: base/base.njk
title: 404
permalink: /404.html
eleventyExcludeFromCollections: true
---

<section class="relative bg-[url(/assets/images/landing.webp)] bg-no-repeat bg-cover bg-center">
    <div class="bg-[#001125]/50">
        <div class="container flex items-end min-h-[440px]">
            <div class="w-full pt-[184px] pb-[100px] lg:gap-[10px] flex flex-col items-start">
                <p class="title-regular text-navy-0">404</p>
                <h1 class="heading-semibold text-navy-0">Page Not Found</h1>
                <a href="/" class="flex gap-[8px] mt-[20px] group cursor-pointer">
                    <div class="text-lg-regular text-navy-0">Back to Home</div>
                    <img src="/assets/svgs/arrow.svg"
                        class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
                </a>
            </div>
        </div>

    </div>
    </div>
</section>