---
layout: base/base.njk
title: ""
description: ""
---

<section class="relative bg-[url(/assets/images/landing.webp)] bg-no-repeat bg-cover bg-center">
  <div class="bg-[#001125]/50">
    <div class="container mx-auto flex items-end min-h-[440px]">
      <div class="w-full gap-[80px] py-[100px]">
        <h1 class="heading-semibold text-navy-0">Careers</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-[100px]">
  <div class="container">
  </div>
</section>