---
layout: base/base.njk
title: "Domestic Electrical & Solar Services | Premier Electrical Group NI"
description: "Premier Electrical Group provides reliable domestic electrical and solar solutions across Northern
Ireland. Expert installation, maintenance, and support for your home."
---

<section class="relative bg-color-grey bg-cover bg-center">
  <div class="bg-[#001125]/50">
    <div class="w-full gap-[40px] py-[100px] h-[600px] justify-center flex flex-col items-center relative">
      <div class="container relative z-5 lg:gap-[10px] flex flex-col">
        <p class="title-regular text-navy-0">Solar Solutions:</p>
        <h1 class="heading-semibold text-navy-0">Domestic</h1>
        <h1 class="subheading-regular text-navy-0">
          Solar for Homes in Northern Ireland</h1>
      </div>

      <video autoplay muted loop playsinline poster="/assets/images/landing.webp" preload="metadata"
        class="hidden lg:block absolute top-0 left-0 w-full h-full object-cover">
        <source src="/assets/videos/domestic_desktop.mp4" type="video/mp4">
      </video>

      <video autoplay muted loop playsinline poster="/assets/images/landing.webp" preload="metadata"
        class="block lg:hidden absolute top-0 left-0 w-full h-full object-cover">
        <source src="/assets/videos/domestic_mobile.mp4" type="video/mp4">
      </video>

    </div>
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[40px]">
      <h1 class="text-cyan-1000 subheading-regular">Domestic Solar Panel Installation Across Northern Ireland</h1>
      <p class="text-navy-0 text-lg-regular">At Premier Electrical Group, we help homeowners take control of their
        energy with smart, sustainable solar solutions. With over 25 years of experience, we specialise in domestic
        solar panel installation throughout Northern Ireland, making renewable energy easy, accessible, and tailored to
        your lifestyle.</p>
      <p class="text-navy-0 text-lg-regular">Whether you’re motivated by lower bills, a greener footprint, or greater
        energy independence, our team is here to guide you every step of the way - from expert design to seamless
        installation and aftercare.</p>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[100px]">
      <div class="flex flex-col gap-[40px]">
        <h1 class="text-cyan-1000 subheading-regular">WHY GO SOLAR?</h1>
        <div class="flex flex-col gap-[40px] lg:w-1/2">
          <p class="text-navy-0 text-lg-regular">Installing solar panels on your home is a powerful step toward energy
            freedom. Here’s how going solar can make a lasting impact:</p>
          <div class="flex">
            <a href="/contact" class="button-primary">Speak to our Expert Team.</a>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-[60px]">
        <div class="flex flex-col items-start gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="/assets/svgs/piggy-bank.svg" alt="" class="w-[36px] text-cyan-1000" />
            <h3 class="title-medium text-cyan-1000">Lower Electricity Bills</h3>
          </div>
          <p class="text-lg-light text-cyan-0">Generate your own electricity and reduce your reliance on the grid. With
            rising energy costs, home solar offers a smart way to save year after year.</p>
        </div>

        <div class="flex flex-col items-start gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="/assets/svgs/building.svg" alt="" class="w-[36px] text-cyan-1000" />
            <h3 class="title-medium text-cyan-1000">Increase Your Property Value</h3>
          </div>
          <p class="text-lg-light text-cyan-0">Homes with solar energy systems are more energy-efficient and attractive
            to buyers — often selling faster and at higher value.</p>
        </div>

        <div class="flex flex-col items-start gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="/assets/svgs/cloud.svg" alt="" class="w-[36px] text-cyan-1000" />
            <h3 class="title-medium text-cyan-1000">Minimise Your Environmental Impact</h3>
          </div>
          <p class="text-lg-light text-cyan-0">Cut your carbon footprint and contribute to a cleaner, greener Northern
            Ireland.</p>
        </div>

        <div class="flex flex-col items-start gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="/assets/svgs/tools.svg" alt="" class="w-[36px] text-cyan-1000" />
            <h3 class="title-medium text-cyan-1000">Low Maintenance, Long-Term Benefits</h3>
          </div>
          <p class="text-lg-light text-cyan-0">Our systems are designed to last, requiring minimal maintenance and
            delivering reliable performance for decades.</p>
        </div>

        <div class="flex flex-col items-start gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="/assets/svgs/bank-note.svg" alt="" class="w-[36px] text-cyan-1000" />
            <h3 class="title-medium text-cyan-1000">Eligible for Export Tariffs</h3>
          </div>
          <p class="text-lg-light text-cyan-0">Sell unused energy back to the grid through government-backed schemes and
            maximise your system’s value.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-0">
  <div class="container">
    <div class="py-[100px] flex gap-[60px] lg:flex-row flex-col">
      <div class="flex flex-1 gap-[24px] flex-col">
        <h1 class="subheading-regular text-dark-blue-1000">What’s Included in a Domestic Solar Installation?</h1>
        <p class="text-navy-1000 text-lg-regular">As you swipe through this section, you’ll discover the key components
          of your home solar system. Each part plays an essential role in creating an efficient, smart energy setup.
          Please note, not all components are needed to make your solar system efficient, our team of experts will work
          with you to find what is best for you and your home.</p>
        <p class="text-navy-1000 text-lg-regular">Swipe the cards to view the elements!</p>
      </div>
      <div class="flex flex-1 flex-col justify-end items-center gap-[20px]">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide bg-light-blue-1000 rounded-[24px] flex flex-col gap-[32px]">
              <img src="/assets/images/solar-panel.webp" alt="Eddi" class="w-[100px] lg:w-[150px]">
              <p class="title-medium text-navy-0 text-center">Solar Panels</p>
            </div>
            <div class="swiper-slide bg-navy-1000 rounded-[24px] flex flex-col gap-[12px]">
              <img src="/assets/images/solis.webp" alt="Solis" class="w-[150px] lg:w-[200px]">
              <p class="title-medium text-navy-0 text-center">Inverter</p>
            </div>
            <div class="swiper-slide bg-light-blue-1000 rounded-[24px] flex flex-col gap-[12px]">
              <img src="/assets/images/battery.webp" alt="Battery" class="w-[130px] lg:w-[150px]">
              <p class="title-medium text-navy-0 text-center">Battery</p>
            </div>
            <div class="swiper-slide bg-navy-1000 rounded-[24px] flex flex-col gap-[32px]">
              <img src="/assets/images/eddi.webp" alt="Eddi" class="w-[150px] lg:w-[200px]">
              <p class="title-medium text-navy-0 text-center">Eddi</p>
            </div>
            <div class="swiper-slide bg-light-blue-1000 rounded-[24px] flex flex-col gap-[12px]">
              <img src="/assets/images/charger.webp" alt="Charger" class="w-[150px] lg:w-[200px]">
              <p class="title-medium text-navy-0 text-center">EV Charger</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex gap-[64px] lg:flex-row flex-col">
      <div class="flex gap-[40px] flex-col">
        <div class="flex flex-col gap-[10px]">
          <h1 class="subheading-regular text-cyan-1000">Stay Connected with the Solis App</h1>
          <p class="text-navy-400 title-medium">Monitor Your System in Real-Time</p>
        </div>
        <p class="text-navy-0 text-lg-regular">Once your solar system is installed, the Solis app gives you full
          visibility and control from your smartphone.</p>
        <p class="text-navy-0 text-lg-regular">Track your energy production, battery levels, savings, and more –
          anytime, anywhere. The app is easy to use, fully customisable, and helps you make the most of your renewable
          system.</p>

        <ul class="text-navy-0 text-lg-regular list-disc list-inside">
          <li>Live Energy Monitoring</li>
          <li>Daily, Weekly & Monthly Reports</li>
          <li>Export Tracking & Battery Performance</li>
          <li>Easy Troubleshooting & Notifications</li>
        </ul>
      </div>
      <div class="flex justify-center items-center">
        <img src="/assets/images/solis-app.webp" class="w-full lg:w-[400px] flex-shrink-0 max-w-none">
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[40px]">
      <h1 class="text-cyan-1000 subheading-regular">Expertly Installed. Fully supported.</h1>
      <p class="text-navy-0 text-lg-regular">Every domestic installation by Premier Electrical Group is handled by our
        in-house team of certified engineers. From roof panels to battery storage, everything is installed to the
        highest standard, backed by our 2-year workmanship guarantee and decades of expertise.</p>
      <p class="text-navy-0 text-lg-regular">We don’t just install systems, we build long-term relationships with our
        customers, offering honest advice, aftercare, and support every step of the way.</p>
      <div class="flex">
        <a href="/contact" class="button-primary">Request a FREE Consultation</a>
      </div>
    </div>
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="w-full">
      <video class="w-full rounded-xl shadow-lg" controls loop playsinline>
        <source src="/assets/videos/testimonial.mp4" type="video/mp4">
        Your browser does not support video.
      </video>
    </div>

  </div>
</section>

<section class="bg-navy-0">
  <div class="container py-[100px] gap-[64px]">
    <div class="flex flex-col gap-[64px]">
      <div class="flex flex-col gap-[40px]">
        <h2 class="subheading-regular text-dark-blue-1000">BESPOKE SOLUTIONS</h2>
        <p class="text-lg-regular text-navy-1000">Custom PV Solar systems for homes, businesses, and farms. Optimising
          efficiency, savings, and sustainability for every need.</p>
      </div>

      <div class="flex flex-col lg:flex-row gap-[12px]">
        <a href="/commercial"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/commercial.webp)] bg-no-repeat bg-cover bg-center text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/commercial.svg" alt="" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Commercial</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <div class="text-sm-light text-navy-0">Learn more</div>
              <img src="/assets/svgs/arrow.svg" alt=""
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/agriculture"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/agriculture.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/agriculture.svg" alt="" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Agriculture</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <div class="text-sm-light text-navy-0">Learn more</div>
              <img src="/assets/svgs/arrow.svg" alt=""
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>
      </div>
      <div>
      </div>
    </div>
</section>

<style>
  .swiper {
    width: 230px;
    height: 350px;
  }

  @media (min-width: 1024px) {
    .swiper {
      width: 300px;
      height: 400px;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
  });
</script>