---
layout: base/base.njk
title: "Additional Electrical & Solar Services | Premier Electrical Group NI"
description: "Explore Premier Electrical Group’s additional electrical and solar services across Northern Ireland. From
specialist installations to custom solutions, we’ve got your needs covered"
---


<section class="relative bg-[url(/assets/images/extras-landing.webp)] bg-no-repeat bg-cover bg-bottom"
  style="background-position: bottom;">
  <div class="bg-[#001125]/50">
    <div class="container flex items-end min-h-[440px]">
      <div class="w-full pt-[184px] pb-[100px] lg:gap-[10px] flex flex-col">
        <p class="title-regular text-navy-0">Solar Solutions:</p>
        <h1 class="heading-semibold text-navy-0">Additional Electrical Services</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h2 class="text-navy-400 title-medium">Powering More Than Just Solar - Explore Our Additional Services</h2>
      <p class="text-navy-0 text-lg-regular">At Premier Electrical Group, we do more than expert solar installations and
        maintenance. Our skilled team offers a range of additional electrical services to help homes, businesses, and
        agricultural properties across Northern Ireland run more efficiently and sustainably. Whether you're upgrading
        to an electric vehicle, improving your energy efficiency, or exploring renewable heating options, we provide
        trusted advice, professional installation, and ongoing support - all delivered with the same reliable,
        customer-first approach we're known for.</p>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex gap-[80px] lg:flex-row flex-col">
      <div class="lg:w-1/4 w-full h-[300px] lg:h-auto overflow-hidden">
        <img src="/assets/images/ev-charger.webp" class="w-full h-full object-cover" />
      </div>
      <div class="flex flex-col gap-[40px] justify-center lg:w-3/4">
        <div>
          <h2 class="text-cyan-1000 subheading-regular">EV Charger Installation</h2>
          <p class="text-navy-400 title-medium">Professional EV Charger Installations for Homes and Businesses</p>
        </div>
        <p class="text-navy-0 text-lg-regular">With the rise of electric vehicles across Northern Ireland, having a
          convenient and reliable EV charger at home or your workplace has never been more important. At Premier
          Electrical Group, we supply and install high-quality electric vehicle charging points tailored to your needs.
          Whether you're a homeowner making the switch to electric or a business looking to support your fleet or staff,
          our experienced team provides expert guidance and seamless installation - helping you charge faster, safer,
          and more efficiently.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex gap-[80px] lg:flex-row flex-col">
      <div class="lg:w-1/4 w-full h-[300px] lg:h-auto overflow-hidden">
        <picture>
          <source srcset="/assets/images/heat-pump-desktop.webp" media="(min-width: 1024px)"
            class="w-full h-full object-cover" />

          <img src="/assets/images/heat-pump-mobile.webp" alt="Heat pump" class="w-full h-full object-cover" />
        </picture>
      </div>
      <div class="flex flex-col gap-[40px] justify-center lg:w-3/4">
        <div>
          <h2 class="text-cyan-1000 subheading-regular">Heat Pump Installation</h2>
          <p class="text-navy-400 title-medium">Efficient, Renewable Heating for Your Property</p>
        </div>
        <p class="text-navy-0 text-lg-regular">Heat pumps are a smart, sustainable way to heat your home or business,
          reducing energy bills and lowering your carbon footprint. At Premier Electrical Group, we supply and install
          high-performance heat pump systems across Northern Ireland, providing expert advice to help you choose the
          right solution for your property. Our qualified team ensures a smooth, professional installation and can
          advise on integrating heat pumps with solar panels for even greater energy efficiency.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex gap-[80px] lg:flex-row flex-col lg:items-stretch">
      <div class="lg:w-1/4 w-full h-[300px] lg:h-auto overflow-hidden">
        <img src="/assets/images/ledLight.webp" class="w-full h-full object-cover" />
      </div>
      <div class="flex flex-col gap-[40px] justify-center lg:w-3/4">
        <div>
          <h2 class="text-cyan-1000 subheading-regular">LED Lighting Installation</h2>
          <p class="text-navy-400 title-medium">Energy-Efficient Lighting Solutions for Every Space</p>
        </div>
        <p class="text-navy-0 text-lg-regular">
          Upgrading to LED lighting is one of the simplest, most effective ways to
          reduce energy consumption and running costs. Whether you're lighting your home, office, agricultural
          buildings, or commercial spaces, Premier Electrical Group provides expert LED lighting solutions designed for
          efficiency, longevity, and quality. From modern indoor lighting to robust outdoor options, our team offers
          tailored advice and professional installation to help brighten your property while saving energy.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h1 class="text-cyan-1000 subheading-regular">Your Trusted Electrical Partner Across Northern Ireland</h1>
      <p class="text-navy-0 text-lg-regular">Whatever your electrical needs, from solar energy to EV chargers, heat
        pumps, or LED lighting - Premier Electrical Group is here to help. We combine technical expertise with a
        friendly, people-first approach, providing reliable, future-focused solutions that make a real difference.</p>
      <p class="text-navy-0 text-lg-regular">Ready to upgrade your property? Get in touch with our expert team today to
        discuss your options and request a no-obligation quote.</p>
      <div class="flex">
        <a href="/contact" class="button-primary">Get in Touch</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-0">
  <div class="container py-[100px] gap-[64px]">
    <div class="flex flex-col gap-[64px]">
      <div class="flex flex-col gap-[40px]">
        <h2 class="subheading-regular text-dark-blue-1000">BESPOKE SOLUTIONS</h2>
        <p class="text-lg-regular text-navy-1000">Custom PV Solar systems for homes, businesses, and farms. Optimising
          efficiency, savings, and sustainability for every need.</p>
      </div>

      <div class="flex flex-col lg:flex-row gap-[12px]">
        <a href="/domestic"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/domesticSquare.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/domestic.svg" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Domestic</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <p class="text-sm-light text-navy-0">Learn more</p>
              <img src="/assets/svgs/arrow.svg"
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/commercial"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/commercial.webp)] bg-no-repeat bg-cover bg-center text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/commercial.svg" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Commercial</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <p class="text-sm-light text-navy-0">Learn more</p>
              <img src="/assets/svgs/arrow.svg"
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/agriculture"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/agriculture.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/agriculture.svg" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Agriculture</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <p class="text-sm-light text-navy-0">Learn more</p>
              <img src="/assets/svgs/arrow.svg"
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>
      </div>
      <div>
      </div>
    </div>
</section>