---
layout: base/base.njk
title: "Electrical & Solar Maintenance Services | Premier Electrical Group NI"
description: "Premier Electrical Group provides professional electrical and solar maintenance services across Northern
Ireland. Keep your systems safe, efficient, and fully operational."
---

<section class="relative bg-[url(/assets/images/landing.webp)] bg-no-repeat bg-cover bg-center">
  <div class="bg-[#001125]/50">
    <div class="container mx-auto flex items-end min-h-[440px]">
      <div class="w-full gap-[80px] py-[100px]">
        <h1 class="heading-semibold text-navy-0">Maintenance</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <div class="flex gap-[100px] py-[100px]">
      <div class="hidden lg:block h-full sticky top-20">
        <div class="flex flex-col gap-[12px]">
          <a href="#maintenance"
            class="maintenance-nav-link bg-navy-800 text-navy-0 rounded-[4px] py-[12px] px-[20px] text-lg-light w-[240px]">Maintenance</a>
          <a href="#cleaning"
            class="maintenance-nav-link bg-navy-800 text-navy-0 rounded-[4px] py-[12px] px-[20px] text-lg-light w-[240px]">Cleaning</a>
          <a href="#birdProofing"
            class="maintenance-nav-link bg-navy-800 text-navy-0 rounded-[4px] py-[12px] px-[20px] text-lg-light w-[240px]">Bird
            Proofing</a>
        </div>
      </div>
      <div class="flex flex-col gap-[120px]">
        <div class="flex flex-col gap-[40px] scroll-mt-[80px]" id="maintenance">
          <p class="subheading-regular text-cyan-1000">Solar Maintenance in Northern Ireland</p>
          <div class="flex flex-col gap-[20px]">
            <p class="text-navy-0 text-lg-regular">At Premier Electrical Group, we know that your electrical systems
              and
              solar panels are a long-term
              investment, regular maintenance is key to protecting that investment. Whether you’re a homeowner or a
              business owner, our expert maintenance services help keep your systems operating safely, efficiently, and
              reliably. With years of experience across Northern Ireland and a reputation for trusted, friendly service,
              we’re here to provide clear advice, thorough checks, and practical solutions to give you peace of mind.
            </p>
            <div class="flex flex-col gap-[20px]">
              <p class="text-navy-400 title-medium">Maximise Performance & Protect Your Solar investment</p>
              <p class="text-navy-0 text-lg-regular">Your solar panels work hard all year round to generate clean,
                renewable energy but without regular
                maintenance, their performance can suffer. Northern Ireland’s changing weather can lead to a build-up of
                dirt, moss, or debris, which reduces efficiency and energy output. Our expert solar panel maintenance
                service keeps your system running at peak performance, helping you maximise energy savings and avoid
                costly repairs. We recommend professional inspections and cleaning at least once a year, with additional
                checks for properties in exposed or coastal areas. With Premier Electrical Group, you can rely on expert
                care and honest advice to keep your solar energy system performing at its best.</p>
            </div>
            <div class="relative">
              <img src="/assets/images/maintenance.webp" alt="Workers Maintaining Solar Panels"
                class="w-full h-[250px] lg:w-[580px] lg:h-[300px] object-cover opacity-50">
              <div class="absolute inset-0 flex items-center justify-center">
                <a href="#bookingForm"
                  class="py-[12px] px-[16px] lg:py-[24px] lg:px-[32px] rounded-[8px] border-[2px] border-navy-0/60 text-navy-0/60 text-xs-medium hover:text-navy-0 hover:border-navy-0 transition cursor-pointer">
                  Book Your Maintenance
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-[40px] scroll-mt-[80px]" id="cleaning">
          <p class="subheading-regular text-cyan-1000">Professional Solar Panel Cleaning in Northern Ireland</p>
          <div class="flex flex-col gap-[20px]">
            <p class="text-navy-400 title-medium">Boost Efficiency with Safe, Specialist Cleaning</p>
            <p class="text-navy-0 text-lg-regular">Clean solar panels mean better energy production. Over time,
              everyday dirt, bird droppings, and leaves can block sunlight and reduce your system’s efficiency, costing
              you potential savings. Our professional solar panel cleaning service uses safe, industry-approved methods
              to remove debris and restore your panels’ performance. With Northern Ireland’s wet, windy climate, regular
              cleaning is a simple, effective way to ensure your solar panels stay efficient all year round. Let Premier
              Electrical Group take care of it so you can enjoy maximum energy output without the hassle.</p>
          </div>
          <div class="relative">
            <img src="/assets/images/cleaning.webp" alt="Solar Panels Being Cleaned"
              class="w-full h-[250px] lg:w-[580px] lg:h-[300px] object-cover object-[0%_30%] opacity-75">
            <div class="absolute inset-0 flex items-center justify-center">
              <a href="#bookingForm"
                class="py-[12px] px-[16px] lg:py-[24px] lg:px-[32px] rounded-[8px] border-[2px] border-navy-0/60 text-navy-0/60 text-xs-medium hover:text-navy-0 hover:border-navy-0 transition cursor-pointer">
                Book Your Maintenance
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-[40px] scroll-mt-[80px]" id="birdProofing">
          <p class="subheading-regular text-cyan-1000">Solar Panel Bird Proofing in Northern Ireland</p>
          <div class="flex flex-col gap-[20px]">
            <p class="text-navy-400 title-medium">Protect Your Solar Panels from Birds and Nesting Issues</p>
            <p class="text-navy-0 text-lg-regular">Birds nesting under solar panels is an increasingly common problem
              for properties across Northern Ireland. Left unchecked, this can cause damage to your wiring, block
              drainage, and lead to costly repairs. At Premier Electrical Group, we provide discreet, effective bird
              proofing solutions to keep birds from nesting beneath your solar panels. Using high-quality materials and
              expert installation, we help protect your system, ensuring long-term performance and reducing maintenance
              worries, all while preserving the look and function of your solar panels.</p>
          </div>
          <div class="relative">
            <img src="/assets/images/birdProofing.webp" alt="Solar Panels with Bird Proofing Technology Installed"
              class="w-full h-[250px] lg:w-[580px] lg:h-[300px] object-cover opacity-75">
            <div class="absolute inset-0 flex items-center justify-center">
              <a href="#bookingForm"
                class="py-[12px] px-[16px] lg:py-[24px] lg:px-[32px] rounded-[8px] border-[2px] border-navy-0/60 text-navy-0/60 text-xs-medium hover:text-navy-0 hover:border-navy-0 transition cursor-pointer">
                Book Your Maintenance
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="bg-navy-0">
  <div class="container py-[100px]">
    <div class="flex flex-col gap-[40px] lg:gap-[60px]">
      <h2 class="subheading-regular text-navy-1000">How to Book Your Maintenance</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-[40px]">
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <p
              class="bg-linear-to-r from-dark-blue-1000 to-light-blue-1000 rounded-[24px] px-[16px] py-[8px] w-[42px] text-center text-lg-semibold text-navy-0">
              1</p>
            <p class="title-medium text-dark-blue-1000 lg:w-[100px]">Get in Touch</p>
          </div>
          <p class="text-sm-light text-navy-1000">Fill in our quick enquiry form
            below or give us a call,
            whichever suits you best.
            Let us know what service
            you need and a few details about your property.</p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <p
              class="bg-linear-to-r from-dark-blue-1000 to-light-blue-1000 rounded-[24px] px-[16px] py-[8px] w-[42px] text-center text-lg-semibold text-navy-0">
              2</p>
            <p class="title-medium text-dark-blue-1000">Receive Expert Advice & Quote</p>
          </div>
          <p class="text-sm-light text-navy-1000">Our friendly, experienced team
            will be in touch to discuss your needs, answer any questions, and provide a clear, no-obligation quote for
            your maintenance service.</p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <p
              class="bg-linear-to-r from-dark-blue-1000 to-light-blue-1000 rounded-[24px] px-[16px] py-[8px] w-[42px] text-center text-lg-semibold text-navy-0">
              3</p>
            <p class="title-medium text-dark-blue-1000">Book Your Maintenance Visit</p>
          </div>
          <p class="text-sm-light text-navy-1000">Once you’re happy to proceed,
            we’ll arrange a convenient time for your maintenance appointment. Our qualified team will handle the rest.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000" id="bookingForm">
  <div class="container py-[100px]">
    <form action="https://submit-form.com/jLKkQB8MR" class="mx-auto">
      <div class="flex flex-col gap-[32px]">
        <h3 class="title-medium text-cyan-1000 mb-6">Get in Touch</h3>
      </div>
      <input type="hidden" name="_redirect" id="redirect" />
      <input type="hidden" name="_append" value="true" />
      <input type="hidden" name="formType" value="lead" />

      <div class="flex flex-col lg:flex-row gap-[32px]">
        <div class="flex flex-col w-full lg:w-1/2 gap-[32px]">
          <div class="input-group">
            <label for="name" class="block text-sm-regular text-navy-0">Name*</label>
            <input type="text" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ' -]{2,50}$" maxlength="50" required id="name" name="name"
              placeholder="Name" class="input input-placeholder text-navy-0" />
          </div>

          <div class="input-group">
            <label for="address" class="text-sm-regular  text-navy-0">Address*</label>
            <input type="text" id="address" required name="address" rows="1" placeholder="Address Line 1"
              class="input input-placeholder text-navy-0" />
            <input type="text" id="town" required name="town" rows="1" placeholder="Town/City"
              class="input input-placeholder text-navy-0" />
            <input type="text" inputmode="text" pattern="^[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}$"
              oninput="this.value = this.value.toUpperCase()" id="postcode" required name="postcode" rows="1"
              placeholder="Postcode" class="input input-placeholder text-navy-0" />
            <input type="text" id="county" required name="county" rows="1" placeholder="County"
              class="input input-placeholder text-navy-0" />
          </div>

          <div class="input-group">
            <label for="phone" class="block text-sm-regular text-navy-0">Phone*</label>
            <div class="flex gap-2">
              <select id="countryCode" name="countryCode" class="input text-xs-light text-navy-0">
                <option>+44</option>
                <option>+353</option>
              </select>

              <input type="tel" pattern="[0-9]{10,15}" required id="phone" name="number" placeholder="Number"
                class="input input-placeholder text-navy-0 flex-1" />
            </div>
          </div>

        </div>
        <div class="flex flex-col w-full lg:w-1/2 gap-[32px]">
          <div class="flex flex-col gap-[12px]">
            <div class="input-group">
              <label for="email" class="block text-sm-regular text-navy-0">Email*</label>
              <input type="email" required id="email" name="email" placeholder="Email"
                class="input input-placeholder text-navy-0" />
            </div>

            <div class="flex items-center space-x-2 relative">
              <input type="checkbox" id="optOutOfNews" name="optOutOfNews" class="peer hidden" />
              <label for="optOutOfNews" class="h-5 w-5 flex items-center justify-center rounded border border-navy-600 bg-navy-800
                        peer-checked:bg-navy-600 peer-checked:border-navy-600
                        peer-focus:ring-2 peer-focus:ring-navy-400 cursor-pointer"></label>

              <svg
                class="absolute left-[2px] top-[2px] hidden peer-checked:block w-4 h-4 text-white pointer-events-none"
                fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M16.704 5.29a1 1 0 010 1.42l-7.25 7.25a1 1 0 01-1.42 0l-3.25-3.25a1 1 0 111.42-1.42l2.54 2.54 6.54-6.54a1 1 0 011.42 0z"
                  clip-rule="evenodd" />
              </svg>
              <!-- Text -->
              <span class="text-xs-light text-navy-0">tick to opt out of news and updates</span>
            </div>
          </div>


          <div class="input-group">
            <label for="hear" class="block text-sm-regular text-navy-0">What Maintenance Do You Require?*</label>
            <div class="grid grid-cols-1">
              <select id="hearAboutUs" required name="hearAboutUs" class="w-full input text-[12px] input-placeholder text-navy-0
               invalid:text-xs-light invalid:text-navy-400 h-[42px]">
                <option value="" disabled selected hidden>
                  Select
                </option>
                <option>System Checkup</option>
                <option>Bird Proofing</option>
                <option>Cleaning</option>
                <option>App is down</option>
                <option>Other</option>
              </select>
            </div>
          </div>

          <div class="input-group">
            <label for="other" class="block text-sm-regular  text-navy-0">If other, please specify:</label>
            <textarea type="textarea" id="other" name="other" placeholder="Other"
              class="block w-full input input-placeholder text-navy-0 min-h-[100px] lg:min-h-[176px]"></textarea>
          </div>
        </div>
      </div>

      <div class="mt-6 pb-8 flex items-center justify-between">
        <div>
          <button class="button-primary cursor-pointer">Submit</button>
        </div>
        <div>
          <p class="text-xs-light  text-navy-0">Required*</p>
        </div>
      </div>
    </form>
  </div>
</section>

{# Maintaince page side navigation #}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll(".maintenance-nav-link");
    const sections = document.querySelectorAll("#maintenance, #cleaning, #birdProofing");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            navLinks.forEach((link) => {
              link.classList.remove("active");
              if (
                link.getAttribute("href").slice(1).toLowerCase() ===
                entry.target.id.toLowerCase()
              ) {
                link.classList.add("active");
              }
            });
          }
        });
      },
      {
        threshold: 0.3,
        rootMargin: "-80px 0px 0px 0px", // accounts for fixed nav
      }
    );

    sections.forEach((section) => observer.observe(section));
  });
</script>