---
layout: base/base.njk
title: "Partner with Premier Electrical Group | Electrical & Solar Solutions NI"
description: "Explore partnership opportunities with Premier Electrical Group. Collaborate with experts in electrical
and solar solutions across Northern Ireland to grow your business."
---
<section class="relative bg-[url(/assets/images/partnerTwo.webp)] bg-no-repeat bg-cover bg-center">
  <div class="bg-[#001125]/50">
    <div class="container mx-auto flex items-end min-h-[440px]">
      <div class="w-full gap-[80px] py-[100px]">
        <h1 class="heading-semibold text-navy-0">Partner With Northern Ireland’s Trusted Solar Experts</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h2 class="text-navy-400 subheading-regular">Outsource With Confidence. Deliver With Excellence.</h2>
      <p class="text-navy-0 text-lg-regular">At Premier Electrical Group, we’ve spent over a decade building our
        reputation as Northern Ireland’s most trusted solar installation specialists. With more than 13 years of
        experience and thousands of successful installs across domestic, commercial, agricultural, and public sector
        projects, we’re proud to be the name other solar companies trust to get the job done right.</p>
      <p class="text-navy-0 text-lg-regular">If you're a solar provider looking for a dependable, skilled partner or a
        business needing a local partner with boots on the ground, we’re here to support you with high-quality work,
        clear communication, and a people-first approach.</p>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h2 class="text-navy-400 subheading-regular">Why Partner with Premier Electrical Group?</h2>
      <p class="text-navy-0 text-lg-regular">We’re more than installers. We’re your extension on the ground,
        representing your
        brand with care, consistency, and professionalism.</p>

      <p class="text-navy-0 text-lg-regular"><span class="text-lg-semibold text-light-blue-600">Trusted Track
          Record.</span> Over 13 years of hands-on experience across diverse projects.</p>
      <p class="text-navy-0 text-lg-regular"><span class="text-lg-semibold text-light-blue-600">Fully Qualified
          Engineers.</span> Trained to UK & Ireland standards with in-depth technical know-how.</p>
      <p class="text-navy-0 text-lg-regular"><span class="text-lg-semibold text-light-blue-600">Locally
          Based.</span> Operating across Northern Ireland, with strong regional expertise and market insight.</p>
      <p class="text-navy-0 text-lg-regular"><span class="text-lg-semibold text-light-blue-600">Transparent &
          Reliable.</span> We stick to deadlines, communicate clearly, and deliver high-quality work.</p>
      <p class="text-navy-0 text-lg-regular"><span class="text-lg-semibold text-light-blue-600">Flexible
          Partnership.</span> Whether you need end-to-end install support or help at scale, we adapt to your needs.</p>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex gap-[80px]">
      <div class="flex flex-col gap-[40px]">
        <div>
          <h1 class="text-cyan-1000 subheading-regular">How It Works:</h1>
          <p class="text-navy-400 title-medium">Our Partnership Process</p>
        </div>
        <p class="text-navy-0 text-lg-regular">Partnering with Premier Electrical Group is designed to be simple,
          effective, and tailored to your workflow.</p>
        <p class="text-navy-0 text-lg-regular">Let’s Talk. You get in touch to outline your project requirements,
          sending over survey details and project timelines.</p>
        <p class="text-navy-0 text-lg-regular">We Deliver. Our in-house engineers complete the install to the highest
          standards, with full reporting and documentation provided.</p>
        <p class="text-navy-0 text-lg-regular">Whether it’s a one-off subcontract or an ongoing relationship, we treat
          your clients as our own, delivering installs that reflect your reputation and our shared values.</p>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h2 class="text-navy-400 subheading-regular">Trusted by Leading Industry Partners </h2>
      <p class="text-navy-0 text-lg-regular">We’re proud to work with some of the most respected names in the renewable
        energy industry. Our team is fully certified and committed to delivering high-quality installations that meet
        the highest standards.</p>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[100px]">
      <div class="grid grid-cols-2 lg:grid-cols-3 gap-[40px] lg:gap-[20px] justify-items-center items-center">
        <img src="/assets/images/first-class-solar.webp" alt="Firs Class Solar" class="w-[200px]" />
        <img src="/assets/images/cosy-solar.webp" alt="Cosy Solar" class="w-[200px]" />
        <img src="/assets/images/solar-for-schools.webp" alt=Solar for Schools"" class="w-[200px]" />
        <img src="/assets/images/soventix.webp" alt="Soventix Powerful Returns" class="w-[240px]" />
        <img src="/assets/images/mcgaffin.webp" alt="McGaffin Mechanical Total Energy Solutions" class="w-[200px]" />
        <img src="/assets/images/the-solar-house-ni.webp" alt="The Solar House NI" class="w-[240px]" />
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container mx-auto">
    <div class="embla relative gap-[32px] py-[100px] h-497px overflow-hidden">

      <div class="embla__viewport overflow-hidden">
        <div class="embla__container flex">
          <!-- Slide 1 -->
          <div class="embla__slide flex-[0_0_100%] min-w-0">
            <div class="flex items-center justify-center bg-navy-1000">
              <div class="flex flex-col justify-center w-2/3 gap-[10px]">
                <blockquote class="flex text-lg-regular text-navy-0 text-left">
                  "Working with Premier Electrical Group is always a pleasure. The team in the office are professional
                  and efficient and those completing installations are knowledgeable and thorough. Overall, a brilliant
                  company to work alongside, with excellent communication."
                </blockquote>
                <p class="text-sm-light text-navy-0 text-left">McGaffin Mechanical</p>
              </div>
            </div>
          </div>
          <!-- Slide 2 -->
          <div class="embla__slide flex-[0_0_100%] min-w-0">
            <div class="flex items-center justify-center bg-navy-1000">
              <div class="flex flex-col justify-center w-2/3 gap-[10px]">
                <blockquote class="flex text-lg-regular text-navy-0 text-left">
                  "The entire team at Premier Electrical Group, from the admin team to the installers are just fantastic
                  - we know each job is completed to the high standards expected at First Class Solar!"
                </blockquote>
                <p class="text-sm-light text-navy-0 text-left">First Class Solar</p>
              </div>
            </div>
          </div>
          <!-- Slide 3 -->
          <div class="embla__slide flex-[0_0_100%] min-w-0">
            <div class="flex items-center justify-center bg-navy-1000">
              <div class="flex flex-col justify-center w-2/3 gap-[10px]">
                <blockquote class="flex text-lg-regular text-navy-0 text-left">
                  "We've collaborated with Premier Electrical Group on several commercial and residential projects
                  throughout the years, and they have consistently delivered exceptional service. Today, we bring
                  together our expertise for maintenance purposes, the teams’ attention to detail and commitment to
                  quality are unmatched. We're proud to have them as partners."
                </blockquote>
                <p class="text-sm-light text-navy-0 text-left">Soventix</p>
              </div>
            </div>
          </div>
          <!-- Slide 4 -->
          <div class="embla__slide flex-[0_0_100%] min-w-0">
            <div class="flex items-center justify-center bg-navy-1000">
              <div class="flex flex-col justify-center w-2/3 gap-[10px]">
                <blockquote class="flex text-lg-regular text-navy-0 text-left">
                  "Premier Electrical Gorup are Solar for Schools installation partner. At SfS we have installed more
                  than 200 schools in England. PEG have installed more than 50% of those.
                  We choose PEG because of their thorough approach to health and safety, their high quality of their
                  workmanship and extraordinary patience when working with our clients in the education sector."
                </blockquote>
                <p class="text-sm-light text-navy-0 text-left">Robert Goss - COO at Solar for Schools.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Prev button -->
      <button class="embla__prev absolute left-2 top-1/2 -translate-y-1/2 cursor-pointer" type="button">
        <img src="/assets/svgs/prevButtonWhite.svg" alt="Previous" class="w[24px] h-[24px]" />
      </button>

      <!-- Next button -->
      <button class="embla__next absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer" type="button">
        <img src="/assets/svgs/nextButtonWhite.svg" alt="Next" class="w[24px] h-[24px]" />
      </button>
    </div>
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h2 class="text-cyan-1000 subheading-regular">Let’s Build Something Together</h2>
      <p class="text-navy-0 text-lg-regular">If you're looking for a reliable, experienced, and professional solar
        installation partner in Northern Ireland, look no further. Whether you need additional capacity, local presence,
        or a trusted long-term partner, we’re here to help you deliver.</p>
      <p class="text-navy-0 text-lg-regular">Contact us today to discuss your next project and explore partnership
        opportunities.</p>
      <div class="flex">
        <a href="/contact" class="button-primary">Contact Us</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-0">
  <div class="container py-[100px] gap-[64px]">
    <div class="flex flex-col gap-[64px]">
      <div class="flex flex-col gap-[40px]">
        <h2 class="subheading-regular text-dark-blue-1000">BESPOKE SOLUTIONS</h2>
        <p class="text-lg-regular text-navy-1000">Custom PV Solar systems for homes, businesses, and farms. Optimising
          efficiency, savings, and sustainability for every need.</p>
      </div>

      <div class="flex flex-col lg:flex-row gap-[12px]">
        <a href="/domestic"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/domesticSquare.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/domestic.svg" alt="" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Domestic</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <div class="text-sm-light text-navy-0">Learn more</div>
              <img src="/assets/svgs/arrow.svg" alt=""
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/commercial"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/commercial.webp)] bg-no-repeat bg-cover bg-center text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/commercial.svg" alt="" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Commercial</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <div class="text-sm-light text-navy-0">Learn more</div>
              <img src="/assets/svgs/arrow.svg" alt=""
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/agriculture"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/agriculture.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient rounded-[24px]"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/agriculture.svg" alt="" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Agriculture</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <div class="text-sm-light text-navy-0">Learn more</div>
              <img src="/assets/svgs/arrow.svg" alt=""
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>
      </div>
      <div>
      </div>
    </div>
</section>

<script>

  document.addEventListener('DOMContentLoaded', () => {
    const emblaNode = document.querySelector('.embla')
    const viewportNode = emblaNode.querySelector('.embla__viewport')
    const prevBtn = emblaNode.querySelector('.embla__prev')
    const nextBtn = emblaNode.querySelector('.embla__next')

    const embla = EmblaCarousel(viewportNode, {
      loop: true,
      align: 'start',
    })

    prevBtn.addEventListener('click', () => embla.scrollPrev())
    nextBtn.addEventListener('click', () => embla.scrollNext())
  })
</script>