---
layout: base/base.njk
title: "PV Solar Power Solutions | Premier Electrical Group & Irish Sister Company"
description: "Premier Electrical Group (NI) and our sister company in the Republic of Ireland provide expert PV solar
power systems across the island. Homes, farms and businesses—go green and save energy today."
---


<section class="relative bg-[url(/assets/images/pv-solar-landing.webp)] bg-no-repeat bg-cover bg-center">
  <div class="bg-[#001125]/50">
    <div class="container mx-auto flex items-end min-h-[440px]">
      <div class="w-full gap-[80px] py-[100px]">
        <h1 class="heading-semibold text-navy-0">PV Solar Power</h1>
        <h3 class="title-regular text-navy-0">Our Sister Company in the Republic of Ireland</h3>
      </div>
    </div>
  </div>
</section>

<section class="py-[100px] bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[20px]">
      <h2 class="text-cyan-1000 subheading-regular">Powering Sustainable Homes and Businesses Across the South</h2>
      <p class="text-navy-0 text-lg-regular">PV Solar Power is the Republic of Ireland based sister company of Premier
        Electrical Group, proudly extending our trusted solar expertise across the island. Operating with the same
        values of kindness, relationships, and expertise, PV Solar Power delivers high-quality solar installations to
        domestic, commercial and agricultural clients across the South, helping more people make the switch to clean,
        renewable energy.</p>
      <p class="text-navy-0 text-lg-regular">As one of the most experienced solar installation teams in Ireland, we
        bring a decade of industry knowledge to every project. Whether you're a homeowner looking to reduce your
        electricity bills or a business investing in sustainability, our team is here to guide you every step of the
        way.</p>
    </div>
  </div>
</section>

<section class="pb-[100px] pt-[20px] bg-navy-1000">
  <div class="container">
    <div class="lg:gap-[60px] gap-[40px] grid grid-row-1 lg:grid-row-2">
      <div class="flex flex-col lg:flex-row items-start gap-[40px] lg:gap-[60px]">
        <div class="flex flex-col gap-[20px] flex-1">
          <h2 class="subheading-regular text-cyan-1000">Why PV Solar Power</h2>
          <p class="text-lg-regular text-cyan-0">Backed by Premier Electrical Group, Northern Ireland’s longest-running
            solar company</p>
          <p class="text-lg-regular text-cyan-0">Expert help with grant applications, documentation and
            post-installation support</p>
          <p class="text-lg-regular text-cyan-0">Reliable, local installation teams delivering premium-quality work</p>
          <p class="text-lg-regular text-cyan-0">Transparent pricing and personalised solutions</p>
        </div>
        <div class="flex flex-col gap-[20px] flex-1">
          <h2 class="subheading-regular text-cyan-1000">SEAI Solar Grant</h2>
          <p class="text-lg-regular text-cyan-0">For eligible homeowners in the Republic of Ireland, the SEAI provides
            grants of up to €1,800 towards the cost of installing solar PV.</p>
          <p class="text-lg-regular text-cyan-0">To qualify, your property must have been built before 31st December
            2020 and must be connected to the ESB network. PV Solar Power supports you throughout the entire grant
            process,
            simplifying paperwork, ensuring compliance, and maximising your return. The only thing you have to do is
            book your BER inspection when the install is completed, this is a requirement of SEAI.</p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row items-start gap-[40px]">
        <div class="flex flex-col gap-[20px]  flex-1">
          <h2 class="subheading-regular text-cyan-1000">Premier Quality with Every Project</h2>
          <p class="text-lg-regular text-cyan-0">Although PV Solar Power operates under a different name in the Republic
            of
            Ireland, our commitment to service remains the same. Backed by the experience, values, and standards
            of Premier Electrical Group, we bring the best of solar energy to homes and businesses throughout the South.
          </p>

          <h2 class="subheading-regular text-cyan-1000">Note on New Builds</h2>
          <p class="text-lg-regular text-cyan-0">New-build homes do not qualify for the SEAI solar PV grant. However, PV
            Solar Power still offers cost-effective, future-ready solar solutions for new properties looking to gain
            long-term
            energy savings.</p>
        </div>
        <div class="flex flex-col gap-[20px]  flex-1">
          <h2 class="subheading-regular text-cyan-1000">What We Do For You</h2>
          <p class="text-lg-regular text-cyan-0">Grant Guidance, helping you apply for the SEAI grant and ensure all
            paperwork is in place</p>
          <p class="text-lg-regular text-cyan-0">System Installation. Our team carries out a high-quality install using
            trusted equipment</p>
          <p class="text-lg-regular text-cyan-0">NC6 Submission. Once complete, we notify ESB via the NC6 form to
            activate your export account</p>
          <p class="text-lg-regular text-cyan-0">Grant Processing. After install, we submit final documentation and
            monitor progress until the grant is paid</p>
          <p class="text-lg-regular text-cyan-0">Payment Handling. You pay PV Solar Power directly for the full install
            cost;
            the grant is then paid by SEAI directly into your bank account.</p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row items-start gap-[40px]">
        <div class="flex flex-col gap-[20px]">
          <h2 class="subheading-regular text-cyan-1000">Based in Ireland. Backed by Experience.</h2>
          <p class="text-lg-regular text-cyan-0">PV Solar Power is your trusted local partner for solar installations in
            the
            Republic of Ireland, with full support from one of the UK and Ireland’s most experienced solar companies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stats-section" class="bg-cyan-1000">
  <div class="container py-[100px]">
    <div class="flex flex-col lg:flex-row gap-[90px] items-center justify-center">
      <div class="flex flex-col gap-[20px] items-center">
        <h2 id="counter1" class="heading-bold text-navy-1000">0</h2>
        <p class="title-regular text-navy-1000">Installs in 2024</p>
      </div>
      <div class="flex flex-col gap-[20px] items-center">
        <h2 id="counter2" class="heading-bold text-navy-1000">0</h2>
        <p class="title-regular text-navy-1000">Panels Fitted in 2024</p>
      </div>
      <div class="flex flex-col gap-[20px] items-center">
        <h2 id="counter3" class="heading-bold text-navy-1000">0</h2>
        <p class="title-regular text-navy-1000">Total MW in 2024</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-0">
  <div class="container mx-auto gap-[32px] py-[100px]">
    <form action="https://submit-form.com/PVPwUTViD" class="mx-auto">
      <div class="flex flex-col gap-[32px]">
        <h3 class="title-medium text-dark-blue-1000 mb-6">Get in Touch</h3>
      </div>
      <input type="hidden" name="_redirect" id="redirect" />
      <input type="hidden" name="_append" value="true" />
      <input type="hidden" name="formType" value="lead" />


      <div class="flex flex-col lg:flex-row gap-[32px]">
        <div class="flex flex-col w-full lg:w-1/2 gap-[32px]">
          <div class="input-group">
            <label for="name" class="block text-sm-regular text-navy-1000">Name*</label>
            <input type="text" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ' -]{2,50}$" maxlength="50" required id="name" name="name"
              placeholder="Name" class="input-pv-solar input-placeholder text-navy-400" />
          </div>

          <div class="flex flex-col gap-[12px]">
            <div class="input-group">
              <label for="email" class="block text-sm-regular text-navy-1000">Email*</label>
              <input type="email" required id="email" name="email" placeholder="Email"
                class="input-pv-solar input-placeholder text-navy-400" />
            </div>

            <div class="flex items-center space-x-2 relative">
              <input type="checkbox" id="optOutOfNews" name="optOutOfNews" class="peer hidden" />
              <!-- Custom styled box -->
              <label for="optOutOfNews" class="h-5 w-5 flex items-center justify-center rounded border border-navy-400 bg-navy-200
                        peer-checked:bg-navy-600 peer-checked:border-navy-600
                        peer-focus:ring-2 peer-focus:ring-navy-400 cursor-pointer"></label>

              <!-- Checkmark (sibling of input, positioned absolutely over the box) -->
              <svg
                class="absolute left-[2px] top-[2px] hidden peer-checked:block w-4 h-4 text-white pointer-events-none"
                fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M16.704 5.29a1 1 0 010 1.42l-7.25 7.25a1 1 0 01-1.42 0l-3.25-3.25a1 1 0 111.42-1.42l2.54 2.54 6.54-6.54a1 1 0 011.42 0z"
                  clip-rule="evenodd" />
              </svg>
              <!-- Text -->
              <span class="text-xs-light text-navy-1000">tick to opt out of news and updates</span>
            </div>
          </div>

          <div class="input-group mt-[24px]">
            <label for="eircode" class="block text-sm-regular text-navy-1000">Eircode*</label>
            <input type="text" pattern="[A-Za-z0-9]{3}\s?[A-Za-z0-9]{4}" required minlength="7" maxlength="7"
              id="eircode" name="eircode" placeholder="Eircode"
              class="input-pv-solar input-placeholder text-navy-400" />
            <!-- </div> -->
          </div>

          <div class="input-group">
            <label for="mprn" class="block text-sm-regular text-navy-1000">MPRN Number</label>
            <input type="text" inputmode="numeric" pattern="[0-9]{11}" minlength="11" maxlength="11"
              oninvalid="this.setCustomValidity('Please enter an 11-digit MPRN number.')"
              oninput="this.setCustomValidity('')" id="mprn" name="mprn" placeholder="MPRN Number"
              class="input-pv-solar input-placeholder text-navy-400" />
          </div>

          <div class="input-group">
            <label for="yearBuilt" class="block text-sm-regular text-navy-1000">Year your property was built*</label>
            <input type="text" pattern="\d{4}" required minlength="4" maxlength="4" id="yearbuilt" name="yearbuilt"
              placeholder="Year your property was built" class="input-pv-solar input-placeholder text-navy-400" />
          </div>

          <div class="input-group">
            <label for="referralName" class="block text-sm-regular text-navy-1000">Were you referred by a customer?
              Please
              share their name.</label>
            <input type="text" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ' -]{2,50}$" min="1800" max="2040" id="referralName"
              name="referralName" placeholder="Reference Name" class="input-pv-solar input-placeholder text-navy-400" />
          </div>

        </div>

        <div class="flex flex-col w-full lg:w-1/2 gap-[32px]">
          <div class="input-group">
            <label for="address" class="text-sm-regular text-navy-1000">Address*</label>
            <input type="text" id="address" required name="address" rows="1" placeholder="Address Line 1"
              class="input-pv-solar input-placeholder text-navy-400" />
            <input type="text" id="town" required name="town" rows="1" placeholder="Town/City"
              class="input-pv-solar input-placeholder text-navy-400" />
            <input type="text" inputmode="text" pattern="^[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}$"
              oninput="this.value = this.value.toUpperCase()" id="postcode" required name="postcode" rows="1"
              placeholder="Postcode" class="input-pv-solar input-placeholder text-navy-400" />
            <input type="text" id="county" required name="county" rows="1" placeholder="County"
              class="input-pv-solar input-placeholder text-navy-400" />
          </div>

          <div class="input-group">
            <label for="monthlySpend" class="text-sm-regular text-navy-1000">On average, what do you spend on your
              monthly
              electric bill?</label>
            <div class="flex items-center input-pv-solar input-placeholder">
              <span class="text-sm-regular text-navy-400 mr-4">£</span>
              <input type="number" name="monthlySpend" id="monthlySpend" class="input-group flex-1 text-navy-400"
                placeholder="00.00" aria-describedby="price-currency" />
            </div>
          </div>

          <div class="input-group">
            <label for="time" class="block text-sm-regular text-navy-1000">Do you have a preferred time
              of day to be
              contacted?</label>
            <input type="time" id="time" name="time" placeholder="Time"
              class="input-pv-solar input-placeholder text-navy-400  hide-time-icon" />
          </div>

          <div class="input-group">
            <label for="hear" class="block text-sm-regular text-navy-1000">How did you hear about us?*</label>
            <div class="grid grid-cols-1">
              <select id="hearAboutUs" required name="hearAboutUs" autocomplete="country-name"
                class="block w-full input-pv-solar text-xs-light text-navy-400 h-[42px]">
                <!-- Placeholder option -->
                <option value="" disabled selected hidden
                  class="block w-full input-pv-solar text-xs-light text-navy-400">
                  How did you hear about us?
                </option>

                <option>Social Media</option>
                <option>Google</option>
                <option>Friends & Family</option>
                <option>Brochure/Flyer</option>
                <option>Website</option>
                <option>Other</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 pb-8 flex items-center justify-between">
        <div>
          <button class="button-primary cursor-pointer">Submit</button>
        </div>
        <div>
          <p class="text-xs-light text-navy-400">Required*</p>
        </div>
      </div>
    </form>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // grab constructor from global
    const CountUpCtor = (window.countUp && window.countUp.CountUp) || window.CountUp;

    const c1 = new CountUpCtor('counter1', 282, { duration: 2 });
    const c2 = new CountUpCtor('counter2', 7281, { duration: 2 });
    const c3 = new CountUpCtor('counter3', 3.46, { duration: 2, decimalPlaces: 2 });

    const section = document.getElementById("stats-section");

    const observer = new IntersectionObserver((entries, obs) => {
      if (entries[0].isIntersecting) {
        if (!c1.error) c1.start();
        if (!c2.error) c2.start();
        if (!c3.error) c3.start();
        obs.disconnect(); // run only once
      }
    }, { threshold: 0.3 });

    observer.observe(section);
  });
</script>