---
layout: base/base.njk
title: "Meet the Team | Premier Electrical Group – Solar & Electrical Experts NI"
description: "Meet the skilled professionals behind Premier Electrical Group. Our team delivers expert solar and
electrical solutions across Northern Ireland for homes and businesses."
---
<section
  class="relative bg-[url(/assets/images/team-landing.webp)] bg-no-repeat bg-cover bg-position-[center_bottom_-150px]">
  <div class="bg-[#001125]/50">
    <div class="container mx-auto flex items-end min-h-[440px]">
      <div class="w-full gap-[80px] py-[100px]">
        <h1 class="heading-semibold text-navy-0">The Team</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-0">
  <div class="container py-[60px] lg:py-[100px]">
    <p class="text-lg-regular text-navy-1000">On our team page, you'll meet just a handful of the incredible
      individuals driving our
      solar revolution forward.
      While not everyone may be featured here, our team extends far beyond these portraits. Behind the scenes, we boast
      a dynamic group of professionals, including more office staff, electricians, roofers, and laborers, totalling 50
      dedicated people working tirelessly to bring sustainable energy solutions to life.</p>
  </div>
</section>

<section class="bg-navy-0">
  <div class="container pb-[60px] lg:pb-[100px]">
    <div class="grid grid-cols-6 gap-[32px]">

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/brendan.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Brendan</p>
            <p class="title-small text-white">Co-Founder and Director</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Brendan</p>
          <p class="text-lg-light text-navy-1000">Co-Founder and Director</p>
        </div>
      </div>

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/tommy.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Tommy</p>
            <p class="title-small text-white">Co-Founder and Director</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Tommy</p>
          <p class="text-lg-light text-navy-1000">Co-Founder and Director</p>
        </div>
      </div>

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/glen.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Glen</p>
            <p class="title-small text-white">Financial Controller</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Glen</p>
          <p class="text-lg-light text-navy-1000">Financial Controller</p>
        </div>
      </div>

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/sarah.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Sarah</p>
            <p class="title-small text-white">Accounts</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Sarah</p>
          <p class="text-lg-light text-navy-1000">Accounts</p>
        </div>
      </div>

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/marc.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Marc</p>
            <p class="title-small text-white">Technical Manager</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Marc</p>
          <p class="text-lg-light text-navy-1000">Technical Manager</p>
        </div>
      </div>

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/damien.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Damien</p>
            <p class="title-small text-white">Sales Representative</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Damien</p>
          <p class="text-lg-light text-navy-1000">Sales Representative</p>
        </div>
      </div>

      <div class="flex flex-col col-span-6 md:col-span-3 lg:col-span-2 lg:col-start-3 gap-[8px] group">
        <div class="relative w-full">
          <img src="/assets/images/team/nicola.webp" class="w-full" />
          <div
            class="absolute inset-0 hidden lg:flex flex-col justify-end opacity-0 group-hover:opacity-100 bg-navy-1000/60 transition-opacity duration-300 p-[30px]">
            <p class="text-lg-semibold text-white">Nicola</p>
            <p class="title-small text-white">Sales Administrator</p>
          </div>
        </div>
        <div class="flex flex-col gap-[8px] lg:hidden">
          <p class="title-medium text-navy-1000">Nicola</p>
          <p class="text-lg-light text-navy-1000">Sales Representative</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-navy-1000">
  <div class="container pt-[60px] lg:pt-[100px]">
    <div class="flex flex-col gap-[24px]">
      <h2 class="subheading-regular text-cyan-1000">A glimpse into our team days</h2>
      <p class="title-medium text-navy-400">Connection,collaboration, and fun that strengthens our culture. </p>
    </div>
  </div>
</section>

<section class="bg-navy-1000 flex items-center justify-center">
  <div class="overflow-hidden w-full">
    <div class="carousel-track-1 flex gap-[20px] animate-scroll">
      <!-- Original grid items -->
      <div class="grid grid-cols-14 grid-rows-2 gap-[20px]">
        <img src="/assets/images/team/carousel-6.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-2.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-4.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-6.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-8.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-9.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-11.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-13.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-15.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-17.webp" class="col-span-1 self-end w-full" alt="">


        <!-- Row 2 -->
        <div class="row-start-2 col-span-full flex gap-[20px] ml-[20px]">
          <img src="/assets/images/team/carousel-1.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-3.webp" class="row-start-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-5.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-7.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-10.webp" class="row-start-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-12.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-14.webp" class="row-start-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-16.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
          <img src="/assets/images/team/carousel-18.webp" class="row-start-2 self-start w-full" alt="">
        </div>
      </div>
      <!-- Duplicate the same grid -->
      <div class="grid grid-cols-14 grid-rows-2 gap-[20px]" aria-hidden="true">
        <img src="/assets/images/team/carousel-6.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-2.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-4.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-6.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-8.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-9.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-11.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-13.webp" class="col-span-1 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-15.webp" class="col-span-2 self-end w-full" alt="">
        <img src="/assets/images/team/carousel-17.webp" class="col-span-1 self-end w-full" alt="">


        <!-- Row 2 -->
        <img src="/assets/images/team/carousel-1.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-3.webp" class="row-start-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-5.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-7.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-10.webp" class="row-start-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-12.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-14.webp" class="row-start-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-16.webp" class="row-start-2 col-span-2 self-start w-full" alt="">
        <img src="/assets/images/team/carousel-18.webp" class="row-start-2 self-start w-full" alt="">
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container pb-[100px]">
    <div class="flex flex-col gap-[64px]">
      <div class="flex flex-col gap-[40px]">
        <h2 class="subheading-regular text-cyan-1000">BESPOKE SOLUTIONS</h2>
        <p class="text-lg-regular text-cyan-0">Custom PV Solar systems for homes, businesses, and farms. Optimising
          efficiency, savings, and sustainability for every need.</p>
      </div>

      <div class="flex flex-col lg:flex-row gap-[12px]">
        <a href="/domestic"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/domesticSquare.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">

            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/domestic.svg" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Domestic</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <p class="text-sm-light text-navy-0">Learn more</p>
              <img src="/assets/svgs/arrow.svg"
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/commercial"
          class="group cursor-pointer px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/commercial.webp)] bg-no-repeat bg-cover bg-center text-navy-0 relative">
          <div class="absolute inset-0 card-gradient"></div>
          <div class="flex flex-col gap-[32px] justify-between h-full relative">

            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/commercial.svg" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Commercial</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <p class="text-sm-light text-navy-0">Learn more</p>
              <img src="/assets/svgs/arrow.svg"
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>

        <a href="/agriculture"
          class="px-[24px] py-[32px] rounded-[24px] w-full bg-[url(/assets/images/agriculture.webp)] bg-no-repeat bg-cover bg-center bg-opacity-25 text-navy-0 relative group cursor-pointer">
          <div class="absolute inset-0 card-gradient"></div>
          <div class="flex flex-col justify-between h-full relative gap-[32px]">
            <div class="flex flex-col gap-[12px]">
              <img src="/assets/svgs/agriculture.svg" class="w-[32px]" />
              <div>
                <p class="text-xs-extralight text-navy-0">Solutions for</p>
                <p class="title-medium text-navy-0">Agriculture</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <p class="text-sm-light text-navy-0">Learn more</p>
              <img src="/assets/svgs/arrow.svg"
                class="w-[16px] transition duration-300 ease-out group-hover:translate-x-[8px]" />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
  }

  .carousel-track-1 {
    width: max-content;
    animation: scroll 50s linear infinite;
  }
</style>