---
layout: base/base.njk
title: "{{ title }} | Premier Electrical Group Blog"
description: "{{ description }}"
---

<section class="relative bg-[url(/assets/images/landing.webp)] bg-no-repeat bg-cover bg-center">
    <div class="bg-[#001125]/50">
        <div class="container mx-auto">
            <div class="w-full pt-[140px] pb-[60px] flex flex-col gap-[40px]">
                <h1 class="heading-semibold text-navy-0">{{ title }}</h1>
                <time datetime="{{ post.date | isoDate }}" class="text-sm-light text-cyan-1000">
                    {{ date | formatDate }}
                </time>
            </div>
        </div>
    </div>
</section>

{% block body %}
<div class="container py-[60px] lg:py-[100px] min-h-screen">
    <div class="markdown-isolated">
        <article>
            {{ content | safe }}
        </article>
    </div>
    <a class="group flex pt-[60px] gap-[8px] cursor-pointer text-sm-light" href="/blog"><span>Read More
            Articles</span><svg class="transition duration-300 ease-out group-hover:translate-x-[8px]"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#05151E" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg></a>
</div>
{% endblock %}